* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.first-content {
    background-color: #05445E;
}

/* PRE HEADER STYLE */

.pre-header {
    display: flex;
    background-color: #75E6DA;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
    font-size: 14px;
}

.pre-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%;
    /* background-color: tomato; */
}

.contact-info {
    display: flex;
    flex-basis: 360px;
    /* background-color: blueviolet; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
}

.info-item {
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    align-items: center;
    /* margin-right: 5px; */
}

.info-item a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.social-media {
    display: flex;
    /* background-color: brown; */
    flex-basis: 120px;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

/* HEADER STYLE */

.header {
    display: flex;
    /* background-color: #000000; */
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    font-size: 16px;
    flex-basis: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%;
    /* background-color: turquoise; */
}

.logo {
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    opacity: 1;
}

.logo a, .logo i {
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 8px;
    font-weight: 900;
    color: white;
}

.header-nav {
    /* background-color: thistle; */
    display: flex;
    justify-content: space-between;
    flex-basis: 600px;
}

.header-nav a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.header-nav a:hover {
    opacity: 1;
    color: #75E6DA;
}

/* Hero */

.hero {
    background-color: #05445E;
    display: flex;
    justify-content: center;
    /* height: 680px; */
}

.hero-content {
    /* background-color: lawngreen; */
    display: flex;
    flex-basis: 80%;
    
    justify-content: space-between;
    /* height: 600px; */
    align-self: flex-end;
}

.hero-image{
    
    height: 450px;
    /* background-color: tomato; */
    flex-basis: 100px;
}

.hero-image img {
    width: 327.5px;
}

.hero-text {
    /* background-color: turquoise; */
    color: white;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: violet; */
    flex-basis: 500px;
}

.hero-text h1 {
    font-weight: 400;
    font-size: 2em;
}

.hero-text h2 {
    font-weight: 800;
    font-size: 3em;
    color: #75E6DA;
}

.hero-button {
    background-color: #75E6DA;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px 10px;
    color:#000000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
}

.hero-button:hover {
    opacity: 1;
}

/* SObre mim*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 60px 0;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-around;
}

.about-title h1 {
    font-size: 1.5em;
    color: #75E6DA;
    font-weight: 800;
}

.about-title h2 {
    font-size: 0.8em;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    opacity: 0.5;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* imagem e efeito */

.content-img img {
    width: 290px;
    border-radius: 100%;
    z-index: 3;
    margin-top: 45px;
}

.content-img {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.circle-one, .circle-two {
    
    border-radius: 100%;
    position: absolute;
}

.circle-one {
    background-color: #75E6DA;
    width: 350px;
    height: 350px;
    z-index: 1;
    margin: 0 50px 0 0;
}

.circle-two {
    background-color: #D4F1F4;
    width: 330px;
    height: 330px;
    z-index: 2;
    margin: 8px 0 0 25px;
}

/* texto */

.content-text {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    font-size: 0.8em;
    line-height: 20px;
}

.content-text hr {
    width: 20%;
    border: #75E6DA 2px solid;
}

.social-media-about {
    display: flex;
    /* background-color: blue; */
    width: 18%;
    justify-content: space-between;
}