

#imagem{
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 15px;
    border-style: solid;
    border-color: #03045E;
    padding: 10px;
    
}

#info{
    color: #03045E;
    font-weight: 800;
}

body{
    text-align: center;
    font-family: Lato, sans-serif;
    width: 100%;
    margin: 0; 
    margin-top: 70px;
    margin-bottom: 70px;

}

ul{
    list-style-type: none;
    margin-left: -43px
}

.habili{
    background-color: #0077B6;
    width: 100%;
    margin: none;
    padding: 10px 0px 10px 0px;
    background-size: cover;
    color: white ;
}

.links{
    text-decoration: unset;
    color: #0077B6;
}

#strongLi{
    font-weight: bolder;
}

.links:hover{
    color: #00B4D8;
}